@charset "UTF-8";

:root {
    --cor1: #48a1d9;
    --cor2: #73b2d9;
    --cor3: #acd7f2;
    --cor4: #23a5d9;
}

header {
    background-color: var(--cor4);
    color: #fff;     
    text-align: center;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

nav {
    background-color: var(--cor4);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav > a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}

nav a:hover {
    color: white;
    background-color: green;
}

footer {
    background-color: var(--cor4);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor3);
}


.logo img {
    max-width: 80px; 
}




