@charset "UTF-8";

:root {
    --cor1: #48a1d9;
    --cor2: #73b2d9;
    --cor3: #acd7f2;
    --cor4: #23a5d9;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

h1 {
    background-color: var(--cor1);
    color: white;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

header {
    background-color: var(--cor4);
    color: #fff;     
    text-align: center;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

nav {
    background-color: var(--cor4);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav > a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}

nav a:hover {
    color: white;
    background-color: green;
}

article p {
    text-align: justify;
    margin-right: 10px;
}

footer {
    background-color: var(--cor4);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

footer>p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {    
    color: green;
}


.logo img {
    max-width: 80px; 
    max-height: 80px;
}

.container {
    display: flex;
}

.caixa-imagem {
    width: 300px;
    height: 200px;
    margin: 10px; 
    border: 2px solid #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor3);
}

.caixa-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    clear: both;
    background-color: var(--cor2);    
    
}

.container img {
    float: left;
    margin-right: 15px; /* Espaçamento entre a imagem e o texto */  
    border-radius: 140px; 
}

.video {
    background-color: var(--cor3);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.redes-sociais {
    margin-top: 5%;
    margin-left: -55vw;
    
}

.redes-sociais a {
    text-decoration: none;
    color:white;
    margin: 10px;
    font-size: 35px;
}
